body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  color: #474545;
  background-image: url(/img/background_login.jpg);
  background-size: cover;
  height: 100vh; /*  si no le ponía esto tenía un espcio en blanco al redimensionar la página */
  margin: 0%; 
  background-repeat: no-repeat;
  text-align: center;
  display: grid;
  align-items: center;
}

.login-container {
  margin: 10vh auto;
  max-width: fit-content;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 3vh 2vw;
}

label {
  display: block;
  margin: 4%;
  font-weight: 600;
}
input {
  height: 4vh;
  width: 95%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #474545;
}

button {
  background-color: #1b1b1b;
  color: #ffffff;
  padding: 3% 18%;
  margin: 2vh;
  border-radius: 5px;
  margin: 7%;
  border: none;
}

button:hover {
  background-color: #474545;
}

#register p {
  font-size: 0.9em;
}

a {
  text-decoration: none;
}
