body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  margin: 0;
  background-color: #eae8d6;
  text-align: center;
}

header {
  background-image: url(/img/comida.jpg);
  text-align: center;
  padding: 4%;
}

#header-div {
  margin: 0 auto;
  background-color: #b64e5392;
  color: #ffffff;
  width: fit-content;
  padding: 1% 1% 2% 1%;
}

header a {
  text-decoration: none;
}

#title {
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 130%;
  margin: 0;
}

nav {
  background-color: #991519;
  height: 2vh;
}

body > h2 {
  text-align: center;
  color: #991519;
  font-weight: bold;
  padding-top: 1%;
}

.promociones {
  padding: 1%;
  margin: 1% auto;
  background-color: #ffffff;
  justify-content: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  
}

.promocion {
  margin: 0 auto;
  background-color: #deb986;
  width: 90%;
  margin: 5%;
  padding: 4% 1%;
  }

  .promocion h3 {
    margin: 0;
    font-size: 80%;
  }

  .promocion p {
    margin: 0;
    font-size: 50%;
  }
  
  .promocion img {
    width: 50%;
    margin: 0;
  }


  .promocion img:hover {
    resize: 300%;
    
  }


footer {
  text-align: center;
  background-color: #991519;
  color: #ffffff;
  margin: 0;
  padding: 0.7%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    background-image: url(/img/header_media.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .promociones {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  header {
    background-image: url(/img/header_peque.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .promociones {
    grid-template-columns: 1fr 
  }
}
